* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgreen;
}

body {
    font-family: sans-serif;
    
    /* Need to add styling to the buttons and figure out a better color scheme.
    Format needs to be adjusted first... */
    
    
}
button {
    background-color:gray;
}